pre .numbering, pre code,  {
    display: block;
}

.dump b {
    background: #0F0;
}

#content {
    float: left;
}

pre .numbering {
    text-align: right;
    float: left;
    border-right: 1px solid;
    padding-right: 0.5em;
}

pre .numbering span, pre .numbering a {
    display: block;
}

pre .numbering span a {
    display: inline;
}

pre {
    /* overflow:auto; */
}

.in-slice {
    background: #0F0;
}
