pre .numbering, pre code,  {
    display: block;
}

.dump b {
    background: #0F0;
}

#content {
    float: left;
}

pre .numbering {
    text-align: right;
    float: left;
    border-right: 1px solid;
    padding-right: 0.5em;
}

pre .numbering span, pre .numbering a {
    display: block;
}

pre .numbering span a {
    display: inline;
}

pre {
    /* overflow:auto; */
}

.in {
    background: #0F0;
}
.in.hide {
    background: rgba(255, 255, 0, 0.4);
}

a:link {
    color: #00f;
}
a:visited {
    color: #00f;
}
a:link.hide {
    color: rgba(0, 0, 255, 0.4);
}
a:visited.hide {
    color: rgba(0, 0, 255, 0.4);
}
a:hover.hide {
    color: rgba(0, 0, 255, 1.0);
}
